/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */
:root {
  --secondary-color: #f9f7fe;
  --branding-color: #6c63ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
h4 {
  font-size: 48px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #272142;
  line-height: 30px;
}
nav {
  padding: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
}

nav a :hover,
nav li a .active {
  color: var(--branding-color);
}
.logo {
  max-height: 40px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 80px 20px;
}
.hero h1 {
  font-size: 96px;
  margin-top: 0;
  font-weight: bold;
  /* line-height: 128px; */
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.greetings {
  font-size: 36px;
  /* line-height: 54px; */
}

.status {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn {
  background-color: var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
}
.feature-text {
  text-align: center;
  font-size: 16px;
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.sub-head {
  font-size: 64px;
  line-height: 85px;
}
.btn-view {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.container {
  padding: 60px 20px;
}
.container h1 {
  font-size: 64px;
  line-height: 80px;
}
.container h2 {
  font-size: 18px;
  /* font-weight: bold; */
  font-family: var(--default-font-family);
}
.container p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.container h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}
.content {
  margin: 50px;
}
.footer-box {
  background-color: var(--secondary-color);
  /* max-width: 70%; */
  padding: 30px 120px;
  /* margin: 90px; */
  border-radius: 10px;
}
.footer-box p {
  margin: 0;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.email-link :hover {
  color: var(--branding-color);
}

.social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.social-link a:hover {
  color: white;
  background: var(--branding-color);
}
@media (max-width: 900px) {
  .description {
    text-align: center;
    padding: 0;
  }
  /* .hero {
    padding: 80px 20px;
  } */
  .hero h1 {
    font-size: 60px;
    /* line-height: 2; */
  }
  .sub-head {
    font-size: 44px;
  }
  .container {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
  }
}
