/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */
:root {
  --secondary-color: #f9f7fe;
  --branding-color: #6c63ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #272142;
  line-height: 30px;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}
.hero h1 {
  font-size: 96px;
  margin-top: 0;
  font-weight: bold;
  /* line-height: 128px; */
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.greetings {
  font-size: 36px;
  /* line-height: 54px; */
}

.status {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}
.btn {
  background-color: var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
}
.feature-text {
  text-align: center;
  font-size: 16px;
}
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.sub-head {
  font-size: 64px;
  line-height: 85px;
}
.btn-view {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.about {
  padding: 160px 20px;
}
.about h1 {
  font-size: 64px;
  line-height: 80px;
}
.about h2 {
  font-size: 18px;
  /* font-weight: bold; */
  font-family: var(--default-font-family);
}
.about p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.content {
  margin: 50px;
}
@media (max-width: 900px) {
  .description {
    text-align: center;
    padding: 0;
  }
  .hero {
    padding: 80px 20px;
  }
  .hero h1 {
    font-size: 60px;
    /* line-height: 2; */
  }
  .sub-head {
    font-size: 44px;
  }
  .about {
    text-align: center;
    padding: 0;
  }
  .content {
    text-align: center;
  }
}
